.container.j-m-t-large{style: "height: 500px; padding: 0; border-radius: 10px;"}
  %div{style: "background-image: url(#{asset_path 'prius.jpg'}); height: 100%; background-size: cover; background-position: center; border-radius: 10px;"}
    %div{style: "height: 100%; width: 100%; top: 0, left: 0; background-color: rgba(0,0,0,0.10); color: #e7eaed;"}
      %h1{style: "text-align: center; padding-top: 2.5%; color: white; font-size: 55px; margin-top: 0"}
        Get in your Prius Today!

.container.j-m-t-large{style: "background-color: white; border-radius: 10px;"}
  %h2{style: "text-align: center; color: #2f4f4f;"}
    Statistics!
